:root{
    --color:#2288fd;
    --color2:#FFFFFF;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:#202020;
    box-sizing:border-box;
}

.presentacion {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10% 30%;
}

.presentacion_contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:60px;
}

.titulo {
    color:var(--color);
    font-size: 3rem;
}

.parrafo1 {
    color:var(--color2);
    font-size: 1.75rem;
}

.parrafo2 {
    color:var(--color2);
    font-size: 1.75rem;
}

.parrafo3 {
    color:var(--color2);
    font-size: 1.75rem;
}